mysql_config.php

backups/IRBdbaseBackup.sql

backups/IRBdbaseBackup2.sql

js/jQueryFileUpload/app.js

js/jQueryFileUpload/canvas-to-blob.min.js

js/jQueryFileUpload/jquery.fileupload-angular.js

js/jQueryFileUpload/jquery.fileupload-audio.js

js/jQueryFileUpload/jquery.fileupload-image.js

js/jQueryFileUpload/jquery.fileupload-jquery-ui.js

js/jQueryFileUpload/jquery.fileupload-process.js

js/jQueryFileUpload/jquery.fileupload-ui.js

js/jQueryFileUpload/jquery.fileupload-validate.js

js/jQueryFileUpload/jquery.fileupload-video.js

app4_OLD

pdf/HumanSubjectsApprovalForm.pdf

js/jQueryFileUpload/vendor/jquery.ui.widget.js

js/jQueryFileUpload/main.js

js/jQueryFileUpload/load-image.all.min.js

js/jQueryFileUpload/jquery.iframe-transport.js

js/jQueryFileUpload/jquery.fileupload.js

test/testAdd.php

test/testAjax.html

test/testAjax.php

test/testApp.php

test/testEmail.php

test/testPass.php

test/testUpdate.php

test/uploadFile.php

test/uploadFile2.php

test/uploadTest.html

upload/2015013/Chapter 2 - Correlation.odt

pdf/WrittenProceduresForIRB.pdf

pdf/SignaturePage.pdf

pdf/ResearchInvolvingDrugsorMedicalDevices.pdf

pdf/informed_consent_debriefing.pdf
